@media (max-width: 496px) {
    .page-services {
        padding-top: 6rem;
        padding-right: 0px;
        padding-bottom: 6rem;
        padding-left: 0px;
        color: #3B533E!important;
        margin-bottom: 0!important;
        /* background-color: #1abc9c!important; */
        background-color: #eded7eff !important;
        text-align: center!important;
        justify-content: center;
    }
    
    .page-services .page-services-heading {
        font-size: 50px;
        /* line-height: 2rem; */
        color: #3B533E;
        /* text-transform: uppercase!important; */
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
        text-align: center!important;
        justify-content: center;
        margin-bottom: 0!important;  
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        padding-bottom: 52px;
    }
    
    .img-services{
        width: 60%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 6.2rem;
    }
    
    .text-servicio{
        font-size: 24px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
        font-weight: bold !important;
        /* font-style: oblique; */
        color: #3B533E;
        padding-top: 30px;
    }
    .sub-texto-servicio{
        padding-bottom: 30px;
    }
}

@media (min-width: 500px) {
    .page-services {
        padding-top: 6rem;
        padding-right: 0px;
        padding-bottom: 6rem;
        padding-left: 0px;
        color: #3B533E!important;
        margin-bottom: 0!important;
        /* background-color: #1abc9c!important; */
        background-color: #eded7eff !important;
        text-align: center!important;
        justify-content: center;
    }
    
    .page-services .page-services-heading {
        font-size: 50px;
        /* line-height: 2rem; */
        color: #3B533E;
        /* text-transform: uppercase!important; */
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
        text-align: center!important;
        justify-content: center;
        margin-bottom: 0!important;  
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        padding-bottom: 52px;
    }
    
    .img-services{
        width: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5.5rem;
    }
    .text-servicio{
        font-size: 24px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
        font-weight: bold !important;
        /* font-style: oblique; */
        color: #3B533E;
        padding-top: 30px;
    }
}
